.contact-me {
    margin-top: 40px !important;
}

.contact-form{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px;
    box-shadow: 0px 0px 10px 3px grey;
}

hr {
  background: rgb(0, 0, 0); 
}

.submit {
  background-color: #212529 !important;
  color: white;
}