html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
   // max-width: 1400px;
    margin: 0 auto !important;
    padding: 0px;
    background-color: rgb(175, 175, 175);
    font-family: 'Oswald', sans-serif;

}

a, a:visited, a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
}


.flex {
    display: flex;

    &-jc-ri {
        justify-content:right
    }
    &-jc-sb {
        justify-content:space-between
    }
    &-jc-le {
        justify-content:left
    }
    &-jc-c {
        justify-content: center;
    }
    &-ai-c {
        align-items: center;
    }
} 

//visibility

.hide-for-mobile {
    @include breakpoint-down(small){
        display: none;
    }
}
.hide-for-desktop {
    @include breakpoint-up(medium){
        display: none;
    }
}